<div class="container">
	<%= render :partial => @notice%>
	 <%= @notice.filenumber %>
    <%= simple_format @notice.content %>
<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
</div>

